/*
* Blewcloud Design v1.0.1
* Copyright 2012, Joshua Kidd
* www.joshuak.me
* MINE!
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {font-family:Helvetica; color:#fff;background-color:#7D7D7D;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

/* HEADBAR UI */


/* Site Styles */
.center { margin-left:auto; margin-right:auto; }
.left { float:left; }
.right { float:right; }
.clearfix { clear:both; }
.closex { float:left; }
.closex:hover { cursor:pointer; }

/* Containers */
.box { padding:10px 5px; }
.bl { margin-left:20px; }
.br { margin-right:20px; }
.p10 { padding:10px; }
.p5 { padding:5px; }
.ph-20w-5 { padding:20px 5px; }
.ph-5w-10 { padding:10px 10px; }

/* Profile Colors */
.orange1 { background:rgba(232, 152, 86, 0.5); }
.yellow1 { background:rgba(232, 220, 86, 0.5); }
.green1 { background:rgba(86, 232, 96, 0.5); }
.blue1 { background:rgba(86, 166, 232, 0.5); }
.blue2 { background:rgba(86, 166, 232, 0.3); }
.blue3 { background:rgba(191, 224, 245, 0.1); }
.red1 { background:rgba(232, 86, 86, 0.5); }

.error { color: #b94a48; }
