/*
* Blewcloud Design v1.0.1
* Copyright 2012, Joshua Kidd
* www.joshuak.me
* MINE!
*/

/* Global Site Styles */
.ui-headbar {
	background:#262626;
	height:80px;
	color:#FFFFFF;
	font-family: Helvetica, sans-serif;
	position:static;
	padding:10px 0px;
}
.ui-headbar .user { height:50px; width:100px; background:#D9EDF7; }

/* Welcome login/register page */
.welcome-center { margin-top:150px; }
.welcome-head {
	font-size:80px;
	color:#F2F2F2;
	text-align:center;
	margin-top:20px;
	transition:all 800ms ease;
	-webkit-transition:all 800ms ease;
	padding-bottom:5px;
}
.welcome-head:hover { color:#9CD0F0; cursor:pointer; }
.welcome-notif { color:#f2f2f2; font-size:30px; text-align:center; margin-top:5px; }
.welcome-login { margin-top:20px; }
.welcome-login .head { font-size:25px; color:#262626; }
.welcome-join { margin-top:20px; color:#262626; }
.welcome-join .head { font-size:25px; }

.infotext { display:none; padding:10px 15px; border-radius:10px; margin-top:20px; }
/* end login/register page */

/* Profile Only??? */
/* widths are in grid.css */
/* This is only visual */
.profile-head {
	margin-top:10px;
	padding-top:0;
	padding-bottom:0;
	padding-left:20px;
	padding-right:20px;
	background:#FCFCFC;
	overflow:hidden;
	-webkit-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 17px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 17px rgba(50, 50, 50, 0.75);
	z-index:1;
	position: relative;
}
.profile-head .image { 
	width:150px; height:150px; 
	margin-bottom:-2px;
	overflow:hidden;
	border-left:2px solid #FAFAFA; 
	border-right:2px solid #FAFAFA;
	-webkit-box-shadow: 2px 20px  rgba(50, 50, 50, 0.4),  -2px 0 20px rgba(50, 50, 50, 0.4);   
	-moz-box-shadow: 2px 0 20px rgba(50, 50, 50, 0.4),  -2px 0 20px rgba(50, 50, 50, 0.4);   
	box-shadow: 2px 0 20px rgba(50, 50, 50, 0.4),  -2px 0 20px rgba(50, 50, 50, 0.4);
}
.profile-head .image img {
	width:150px;
}
.profile-head .name { 
	color:#000000; 
	font-size:35px;
	margin-left:20px;
	margin-top:15px;
	text-shadow: 3px 3px 8px rgba(150, 150, 150, 0.64);
	transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
}
.profile-head .name:hover{color:#C4E3F3; /*text-shadow:3px 3px 8px rgba(92,92,92,0.64);*/ cursor:pointer;}
.profile-head .item {color:#000000;margin-left:20px;}
.profile-head .item .head-item { font-size:14px; border-bottom:1px solid #999999; padding-bottom:5px; margin-bottom:2px; }
.profile-head .tag{color:#000000;font-size:12px;}

.profile-page { z-index:5555; width:960px; margin-top:20px; height:400px; }

.awpc { float:left; margin-top:20px; }
.awpc .day .day-head { font-size:20px; }
.post .info { float:left; border-bottom:1px solid #BBBBBB; padding-bottom:2px; }
.post .info .name { float:left; font-size:15px; }
.post .info .name a { text-decoration: none; color:#F0F0F0; }
.post .info .name a:hover { color:#DEDEDE; }
.post .info .date { float:right; font-size:11px; }

.post2 .info { width:150px; height:auto; float:left; margin-top:5px; }
.post2 .info .name { font-size:15px; text-align:center;  }
.post2 .info .name a { text-decoration: none; color:#F0F0F0; }
.post2 .info .name a:hover { color:#DEDEDE; }
.post2 .info .date { font-size:11px; margin-top:20px; }
.post2 .controls { width:19px; float:left; margin-top:5px; }
.post2 .post { width:450px; float:left; margin-top:5px; border-left:1px solid #BBBBBB; margin-bottom:5px; }

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }

.randPics {
	width:150px;
	float:left;
	margin-top:20px;
}
